

body{
    font-family: 'Oswald' ;
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #191919;
    padding: 1px;
    margin: 0px;

}
.header h1{
    color: #EEE2DE;
    text-align: center;
    padding-bottom: 0px;
    margin: 12px;
}
.main a {
    text-decoration: none;
    color: #EAB2A0;
}
.main a:hover {
    text-decoration: underline;
    font-size: large;
}
.main{
    margin: 0px;
    padding: 1px;
    background-color: #750E21;
    color:#EEE2DE;

    padding: 11px;
    margin: 0px;
}