

body{
    font-family: 'Oswald' ;
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #191919;
    padding: 1px;
    margin: 0px;

}
.header h1{
    color: #EEE2DE;
    text-align: center;
}
.cissus a, .hisinz a, .hoax a, .inz a, .jedninf a{
    text-decoration: none;
    color: #EAB2A0;
}
.cissus a:hover, .hisinz a:hover, .hoax a:hover, .inz a:hover, .jedninf a:hover{
    text-decoration: underline;
    font-size: large;
}
.cissus{
    margin: 0px;
    padding: 1px;
    background-color: #750E21;
}
.cissus li{
    color:#EEE2DE;
}
.hisinz{
    margin: 0;
    padding: 1px;
    background-color: #E3651D;
}
.hoax{
    background-color: #BED754;
    padding: 1px;
}
.inz{
    background-color: #E3651D;
}
.jedninf{
    background-color: #750E21;
}